body {
  font-family: "メイリオ", Meiryo, sans-serif;
  background-color: rgb(229, 255, 247);
}

header{
  font-size: 7px; 
  background-color: rgb(0, 128, 87); 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.table-container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

table{
  background-color: white;
}

table th {
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}