body {
  font-family: "メイリオ", Meiryo, sans-serif;
  background-color: rgb(224, 231, 228);
}

header{
  font-size: 7px; 
  background-color: rgb(0, 128, 87); 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.table-container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

table{
  background-color: white;
}

table th {
  padding: 10px 20px;
}

table td {
  padding: 10px 20px;
}

.total-count{
  font-size: 20px;
  font-weight: bold;
}